<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <title>Chatterbot</title>
</head>
<body>
  <div class="chatbox-wrapper">
    <div class="message-box">
      <div class="chat response">
        <img src="{{ url_for('static', filename='img/chatbot.png') }}">
        <span>Hola <br> 
          Soy una chatbot de Música, como puedo ayudarte.
        </span>
      </div>
    </div>
    <div class="messagebar">
      <div class="bar-wrapper">
        <input type="text" placeholder="Enter your message..." id="user-input">
        <button id="send-btn">
          <span class="material-symbols-rounded">
            send
          </span>
        </button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
